.container {
    height: 100vh;
}

.main {
    width: 16rem;
}

.game_box {
    background-color: #f5bb79;
    box-shadow: 0px 0px 5px 0px black;
    transition: all ease-in-out .95s;
}

.game button {
    height: 2.5rem;
    background-color: rgba(221, 253, 251, 0.829);
    box-shadow: 0px 2px 2px 0px black;
    transition: all ease-in-out.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.game button:hover {
    background-color: rgb(204, 204, 203);
}

#reset_btn {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: rgb(248, 240, 203);
    transition: all ease-in-out .3s;
}

#new_btn {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: rgb(248, 240, 203);
    transition: all ease-in-out .3s;
}

#reset_btn:hover {
    color: #ffffff;
    background-color: black;
}

#new_btn:hover {
    color: #ffffff;
    background-color: black;
}

.hide {
    display: none;
}